:root {
  --white: #ffffff;
  --black: #000000;
  --blue: #007aff;
  --gray: #f6f7f9;
  --gray-2: #f0f0f0;
  --transparent-blue: #14171f99;
  --scrollbar-background: transparent;

  --transition: all ease-in-out 0.3s;
}

/* Display-P3 color, when supported. */
@supports (color: color(display-p3 1 1 1)) {
  :root {
    --white: color(display-p3 1.0001 1 0.9999);
    --black: color(display-p3 0 0 0);
    --blue: color(display-p3 0.2046 0.471 0.966);
    --gray: color(display-p3 0.9655 0.9685 0.9756);
    --gray-2: color(display-p3 0.9412 0.9412 0.9411);
    --transparent-blue: color(display-p3 0.0806 0.0898 0.1189 / 0.6);
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: var(--gray);
}

body {
  scrollbar-width: thin;
  text-rendering: geometricprecision;
  font-family: 'Poppins', sans-serif;
  scrollbar-color: var(--blue) var(--scrollbar-background);
}

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe,
hr {
  border: 0;
}

a,
button {
  cursor: pointer;
}

a,
a:hover {
  text-decoration: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  border: unset;
  -webkit-text-fill-color: var(--black);
  transition: background 4000s ease-in-out 0s;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-background);
}

::-webkit-scrollbar {
  height: 0;
  width: 6px;
  scrollbar-width: 6px;
  background: var(--scrollbar-background);
}

::-webkit-scrollbar-thumb {
  background: var(--blue);
}
