.main {
  display: flex;
  padding-bottom: 90px;
  justify-content: center;
}

.container {
  flex-direction: column;
}

.section,
.aside {
  gap: 24px;
  display: flex;
  flex-direction: column;
}

.section {
  margin-top: 32px;
}

.aside {
  margin-top: 24px;
}

.list {
  gap: 16px;
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  max-width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--transparent-blue);
}

.button {
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
}

/* Small devices (landscape phones, 425px and up) */
@media (min-width: 425px) {
  .title {
    max-width: 250px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .title {
    max-width: 400px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .title {
    max-width: 230px;
  }
}

/* Extra large devices (large desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    flex-direction: row;
  }

  .section {
    flex: 2;
    margin-right: 24px;
  }

  .aside {
    flex: 1;
    margin-top: 32px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .section {
    margin-right: 0;
    max-width: 796px;
  }

  .aside {
    max-width: 360px;
  }
}
