.thead {
  height: 35px;
  padding: 8px 0;
  border-top: 1px solid var(--gray-2);
  border-bottom: 1px solid var(--gray-2);
}

.thead > .tr {
  height: 35px;
}

.th {
  flex: 1;
  font-size: 12px;
  text-align: left;
  font-weight: 500;
  line-height: 18px;
  color: var(--transparent-blue);
}

.tbody .td {
  padding-top: 24px;
}

.td {
  padding-bottom: 16px;
  border-bottom: 1px solid var(--gray-2);
}

.info {
  display: flex;
  align-items: center;
}

.name {
  margin-left: 8px;
}

.name,
.email {
  max-width: 100px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: var(--black);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Small devices (landscape phones, 425px and up) */
@media (min-width: 425px) {
  .name,
  .email {
    max-width: 140px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .name,
  .email {
    max-width: 220px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .name,
  .email {
    max-width: 300px;
  }
}
